{
  "recommendations": [
    "dbaeumer.vscode-eslint",
    "esbenp.prettier-vscode",
    "editorconfig.editorconfig",
    "bradlc.vscode-tailwindcss",
    "ms-azuretools.vscode-docker",
    "yoavbls.pretty-ts-errors",
    "streetsidesoftware.code-spell-checker",
    "github.vscode-github-actions",
    "redhat.vscode-yaml"
  ]
}
